.tour__labels {
  /*display: block;*/
  display: flex;
  flex-direction: row-reverse;
  gap: 11px;

  position: relative;
  /*padding-left: 35px;*/
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: var(--dark-color);
}

.tour__labels .tour__labels_hiding:checked ~ .tour__span:after {
  display: block;
}
