.tour__labels {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 400;
	font-size: 20px;
	line-height: 142%;
	color: var(--dark-color);
}

.tour__labels:hover .tour__labels_input ~ .tour__radio {
	background-color: var(--light-color);
}

.tour__labels .tour__labels_input:checked ~ .tour__radio {
	background-color: var(--light-color);
}

.tour__labels .tour__labels_input:checked ~ .tour__radio:after {
	display: block;
}

.tour__labels .tour__radio:after {
	top: 5px;
	left: 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: var(--dark-color);
}