.tour__license .tour__license_input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.tour__license:hover .tour__license_input ~ .tour__checkbox {
	background-color: var(--light-color);
}
.tour__license .tour__license_input:checked ~ .tour__checkbox {
	background-color: var(--light-color);
}
.tour__license .tour__license_input:checked ~ .tour__checkbox:after {
	display: block;
}