.button_green {
  background: var(--green-color);
  color: var(--light-color);
}

.button_green:hover {
  background: var(--lettuce-color);
}

.button_green:active {
  background: var(--lettuces-color);
}