select {
  /*/*background: transparent;*/
  /*width: 268px;*/
  /*padding: 5px;*/
  /*font-size: 16px;*/
  /*line-height: 1;*/
  /*border: 0;*/
  /*border-radius: 0;*/
  /*height: 34px;*/
  /*-webkit-appearance: none;*/
}

select {
  appearance: none;
  overflow: hidden;
  background-image: url(../../img/stroke.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 13.31px;
}