.choice__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 106px;
}

@media (max-width: 767.98px) {
  .choice__body {
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .choice__body {
    gap: 30px;
  }
}