.review__subtext {
	margin: 10px 0px 0px 0px;
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	letter-spacing: -0.01em;
	color: var(--gray-color);
}
@media (max-width: 360px){
	.review__subtext {
		margin: 8px 0px 0px 0px;
		font-size: 16px;
		line-height: 142%;
	}
}