.gallery__pictures {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .gallery__pictures {
    gap: 20px;
  }
}

@media (max-width: 520.98px) {
  .gallery__pictures {
    gap: 10px;
  }
}