.choice__items{
	position: relative;
    max-width: 370px;
    width: 100%;
	height: 531px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 50px;
	transition: 300ms ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	overflow: hidden;
    cursor: pointer;
}

.choice__items:hover > .choice__image{
	transform: scale(1.2);
}

.choice__items:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	background: transparent;
	background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
	border-radius: 50px;
}
@media (max-width: 767.98px){
    .choice__items{
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
    .choice__items:before{
        border-radius: 20px;
    }
}

.choice__items:hover
.choice__button{
	padding: 7px 20px 7px 20px;
    margin: -7px 0px 43px 30px;
	background: var(--green-color);
	border-radius: 50px;
	cursor: pointer;
}

.choice__items:active
.choice__button{
	padding: 7px 20px 7px 20px;
	background: var(--orange-color);
	border-radius: 50px;
}

@media (max-width: 767.98px){
    .choice__items:hover
.choice__button{
    margin: 0px 0px 23px 10px;
}
}