.story__list{
	font-weight: 400;
	font-size: 20px;
	line-height: 142%;
	margin: -6px 0px 0px 30px;
}
@media (max-width: 767.98px){
	.story__list {
		font-size: 16px;
		line-height: 142%;
		margin: 3px 0px 0px 22px;
	}
}