.gallery__image {
  max-width: 347.32px;
  width: 100%;
  height: 301px;
  border-radius: 50px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .gallery__image {
    max-width: 231px;
  }
}

@media (max-width: 850.98px) {
  .gallery__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

@media (max-width: 520.98px) {
  .gallery__image {
    height: 110px;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .gallery__image {
    width: 99.33px;
    height: 110px;
    border-radius: 20px;
  }
}