.header__main {
	margin-bottom: 119px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 50px;
}
@media (max-width: 767.98px){
	.header__main {
		gap: 40px;
		margin-bottom: 52px;
	}
}