.title-h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  color: var(--dark-color);
  text-align: center;
}

@media (max-width: 1024.98) {
  
  .title-h2 {
    font-size: 59px;
  }
}

@media (max-width: 767.98px) {

  .title-h2 {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}