.tour__column_greens {
	padding: 15px 30px;
	width: 235px;
	height: 58px;
	cursor: pointer;
	background: var(--lights-color);
	color: var(--green-color);
	border-radius: 10px;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}
@media (max-width: 767.98px){
	.tour__column_greens {
		font-size: 16px;
		line-height: 142%;
		width: 134px;
		height: 47px;
		padding: 0px;
	}
}
.tour__column_greens:hover{
	background: var(--blond-color);
}
.tour__column_greens:active{
	background: var(--blonds-color);
}