.choice__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
    list-style:none;
}

@media (max-width: 767.99px){
	.choice__list {
        max-width: 290px;
		flex-wrap: wrap;
		gap: 10px;
	}
}
