.choice__photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
@media (max-width: 1024px){
	.choice__photo {
		gap: 18px;
	}
}
@media (max-width: 767.98px){
	.choice__photo {
		gap: 18px;
	}
}