.header__link {
  font-weight: 400;
  font-size: 20px;
  color: inherit;
}

@media (max-width: 767.98px) {
  .header__link {
    font-size: 16px;
  }
}

.header__link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
