.footer__link {
    display: flex;
    gap: 10px;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: var(--dark-color);
}
@media (max-width: 767.98px){
	.footer__link{
		font-size: 16px;
		line-height: 142%;
	}
}
.footer__link:hover{
	text-decoration: underline;
	text-underline-offset: 5px;
}
.footer__link:active{
	color: var(--orange-color);
}