.gallery__blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 15px;
}

@media (max-width: 1024px) {
  
  .gallery__blocks {
    gap: 20px;
  }
}

@media (max-width: 915px) {

  .gallery__blocks {
    padding: 0px 21px;
    gap: 18px;
  }
}


