.story__text {
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
}
@media (max-width: 767.98px){
	.story__text {
		font-size: 23px;
		line-height: 120%;
		letter-spacing: 0.04em;
		max-width: 150px;
	}
}