.tour__subtitle {
	max-width: 408px;
	font-weight: 400;
	font-size: 20px;
	line-height: 142%;
	text-align: center;
	color: var(--gray-color);
}
@media (max-width: 767.98px){
	.tour__subtitle {
		font-size: 16px;
		line-height: 142%;
		max-width: 318px;
	}
}