.page__travel {
	margin-top: 135px;
	margin-bottom: 135px;
}
@media (max-width: 767.98px){
	.page__travel {
		margin-top: 80px;
		margin-bottom: 75px;
	}
}
.travel {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 30px;
}
.travel__contents {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	padding: 0px 10px 0px 10px;
}
@media (max-width: 767.99px){
	.travel__contents {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
}
.travel__img{
	max-width: 370px;
    max-height: 370px;
	width: 100%;
	border-radius: 50px;
}
@media (max-width: 767.98px){
	.travel__img{
		max-width: 130px;
		max-height: 133px;
		border-radius: 20px;
	}
}
.travel__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 371px;
	gap: 20px;
}
@media (max-width: 767.98px){
	.travel__content {
		max-width: 350px;
		align-items: center;
	}
}
.travel__title {
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	color: #1B1F2B;
}
@media (max-width: 767.98px){
	.travel__title {
		max-width: 291px;
		font-size: 23px;
		line-height: 120%;
		letter-spacing: 0.04em;
	}
}
.travel__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #A6A6A6;
}
@media (max-width: 767.98px){
	.travel__text {
		max-width: 291px;
		font-size: 16px;
		line-height: 142%;
	}
}	
.travel__email {
	color: #1B1F2B;
}
.travel__email:hover{
	text-decoration: underline;
}
.travel__email:active{
	color: #286562;
}