.review__text {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--dark-color);
}

@media (max-width: 767.98px) {
  
  .review__text {
    font-size: 16px;
    line-height: 143%;
  }
}