.story__image{
    position: absolute;
	z-index: 1;
	max-width: 1170px;
	width: 100%;
	height: 567px;
	border-radius: 50px;
	object-fit: cover;
	transition: 300ms ease;
	overflow: hidden;
}

@media (max-width: 767.98px){
	.story__image{
		border-radius: 20px;
		max-height: 455px;
	}
}