/* .choice__options {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-wrap: nowrap;
	left: 50px;
	top: 50px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 16px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */
.choice__options {
    max-width: 270px;
	z-index: 2;
	display: flex;
	flex-wrap: nowrap;
	/* left: 50px;
	top: 50px; */
	flex-direction: column;
	justify-content:space-between;
	align-items: flex-start;
    padding: 50px 0px 0px 50px;
	gap: 16px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 767.98px){
	.choice__options {
		/* left: 25px;
		top: 25px; */
		gap: 13px;
	}
}