.gallery__block {
  max-width: 1860px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  /* padding: 0px 15px; */
  margin: 0 auto;
  list-style-type: none;
}

@media (max-width: 767.98px) {
  .gallery__block {
    padding: 0px 21px;
  }
}

@media (max-width: 1024px) {
  .gallery__block {
    gap: 20px;
  }
}

@media (max-width: 520.98px) {
  .gallery__block {
    gap: 10px;
    /* margin: 18px 0px 18px 0px; */
  }
}

@media (max-width: 1024px) {
  .gallery__block li:nth-child(2),
  .gallery__block li:nth-child(7),
  .gallery__block li:nth-child(12) {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .gallery__block li:nth-child(3),
  .gallery__block li:nth-child(6),
  .gallery__block li:nth-child(11) {
    display: none;
  }
}