.travel__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 371px;
  gap: 20px;
}

@media (max-width: 767.98px) {
  .travel__content {
    max-width: 350px;
    align-items: center;
  }
}