.story__button {
	display: flex;
	gap: 15px;
	align-items: center;
	max-width: 199px;
	font-weight: 700;
	font-size: 23px;
	line-height: 28px;
	color: var(--light-color);
	margin: 0px 60px 60px 60px;
	width: 100%;
	background-color: inherit;
	font-family: inherit;
}

@media (max-width: 767.98px){
	.story__button {
		max-width: 150px;
		font-size: 16px;
		line-height: 142%;
		margin: 0px 0px 30px 30px;
	}
}