.choice {
  margin-top: 135px;
  margin-bottom: 135px;
}

@media (max-width: 767.98px) {

  .choice {
    padding-top: 75px;
    margin-bottom: 75px;
  }
}

@media (max-width: 767.98px) {

  .choice {
    margin-top: 0px;
  }
}