.footer {
	background: #F4F0E9;
}
.footer__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0px;
}
@media (max-width: 1024px){
	.footer__content {
		padding: 30px 53px;
	}
}
@media (max-width: 767.99px){
	.footer__content {
		flex-wrap: wrap;
		justify-content: center;
		padding: 21px 21px;
	}
}
.footer__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #A6A6A6;
}
@media (max-width: 767.98px){
	.footer__text {
		font-size: 16px;
		line-height: 142%;
		padding: 0px 20px 0px 0px;
	}
}
.footer__networks {
	display: flex;
	flex-direction: row;
	gap: 38px;
}

@media (max-width: 767.98px){
	.footer__networks {
		gap: 20px;
	}
}
.footer__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
@media (max-width: 767.98px){
	.footer__list {
		gap: 6.54px;
	}
}
.footer__texts {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #1B1F2B;
}
@media (max-width: 767.98px){
	.footer__texts {
		font-size: 16px;
		line-height: 142%;
	}
}
.footer__list:hover{
	text-decoration: underline;
	text-underline-offset: 5px;
}
.footer__list:active{
	color: #EFA501;
}
.footer__text:active{
	color: #EFA501;
}