:root {
  --light-color: #ffffff;
  --lights-color: #E0F0E5;
  --blond-color: #F1F3F2;
  --blonds-color: #D9DFDB;
  --dark-color: #1B1F2B;
  --fon-color: #F9F7F4;
  --orange-color: #EFA501;
  --yellow-color: #F8E6BE;
  --green-color: #286562;
  --lettuce-color: #3B7E7B;
  --lettuces-color: #627F7E;
  --gray-color: #A6A6A6;
  --grays-color: #F4F0E9;
}



