[class*="container"] {
  max-width: 1170px;
  margin: 0 auto;
}

/* @media (max-width: 1199.98px) {
	[class*="__container"]{
		max-width: 1024px;
	}
}
@media (max-width: 991.98px) {
	[class*="__container"]{
		max-width: 850px;
	}
}
@media (max-width: 767.98px) {
	[class*="__container"]{
		max-width: none;
	}
} */
