.travel {
    margin-top: 135px;
	margin-bottom: 135px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	padding: 0px;
	gap: 30px;
}
@media (max-width: 767.98px){
	.travel {
		margin-top: 80px;
		margin-bottom: 75px;
	}
}