.header__list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	list-style: none;
}
.header__list>*:last-child {
	justify-content: flex-end;
}
@media (max-width: 1024px) {
	.header__list {
		gap: 15px;
	}
}
@media (max-width: 850px) {
	.header__list {
		display: none;
	}
}