.tour__form {
  display: flex;
  flex-direction: column;
  background: var(--light-color);
  padding: 70px 70px;
  margin: 0px 15px;
  gap: 33px;
  border-radius: 50px;
}

@media (max-width: 1024px) {
  .tour__form {
    padding: 60px 60px;
  }
}

@media (max-width: 767.98px) {
  .tour__form {
    padding: 20px 20px 40px 20px;
    border-radius: 30px;
    gap: 30px;
  }
}