.travel__img {
	max-width: 370px;
    max-height: 370px;
	width: 100%;
	border-radius: 50px;
}
@media (max-width: 767.98px){
	.travel__img{
		max-width: 130px;
		max-height: 133px;
		border-radius: 20px;
	}
}
