.buttons {
  padding: 15px 30px;
  width: 235px;
  height: 58px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: -12px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .buttons {
    font-size: 16px;
    line-height: 142%;
    width: 134px;
    height: 47px;
    padding: 0px;
  }
}